<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сервис рассылки - {{ title }}</title>
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/css/my_style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
<header>
    {% include 'main/includes/inc_menu.html' %}
</header>

<div id="page-content">
    <div class="container mb-5">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>