{% extends 'main/base.html' %}
{% block content %}
<h2 class="text-center mb-3">{{ title }}</h2>
<div class="row justify-content-center">
    <div class="col-5 card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <p>Вы действительно хотите удалить рассылку: <i>{{ object.name }}.</i></p>
                <button type="submit" class="btn btn-danger">Подтвердить</button>
                <a href="{% url 'mailings:mailing_detail' object.pk %}" class="btn btn-warning">Отменить</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}