{% extends 'main/base.html' %}
{% block content %}
<a href="{% url 'mailings:mailing_create' %}" class="btn btn-outline-info btn-block mb-3">
    Добавить рассылку
</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Дата начала</th>
        <th scope="col">Дата завершения</th>
        <th scope="col">Периодичность</th>
        <th scope="col">Статус</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <th scope="row"><a href="{% url 'mailings:mailing_detail' object.pk %}" class="btn btn-sm btn-info"
                           style="border-radius:100%">{{ forloop.counter }}</a></th>
        <td>{{ object.name }}</td>
        <td>{{ object.data_mailing}}</td>
        <td>{{ object.data_mailing_finish}}</td>
        <td>{{ object.periodicity}}</td>
        <td>{{ object.status}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}