{% extends 'main/base.html' %}
{% block content %}
<h2 class="text-center mb-3">{{ title }}</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Email</th>
        <th scope="col">Страна</th>
        <th scope="col">Телефон</th>
        <th scope="col">Статус</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ object.first_name|default:'-' }}</td>
        <td>{{ object.last_name|default:'-' }}</td>
        <td>{{ object.email }}</td>
        <td>{{ object.country|default:'-' }}</td>
        <td>{{ object.phone|default:'-' }}</td>
        <td>
            {% if perms.users.set_user_deactivate or user.is_superuser %}
            {% if object.is_active %}
            <a href="{% url 'users:toggle_activiti' object.pk %}"
               class="btn btn-sm btn-outline-danger">Деактивировать</a>
            {% else %}
            <a href="{% url 'users:toggle_activiti' object.pk %}"
               class="btn btn-sm btn-outline-success">Активировать</a>
            {% endif %}
            {% endif %}
        </td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}