{% extends 'main/base.html' %}
{% block content %}
<h2 class="text-center mb-3">{{ title }}</h2>
<a href="{% url 'clients:client_create' %}" class="btn btn-outline-info btn-block mb-3">
    Добавить клиента
</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Отчество</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <th scope="row"><a href="{% url 'clients:client_detail' object.pk %}" class="btn btn-sm btn-info"
                           style="border-radius:100%">{{ forloop.counter }}</a></th>
        <td>{{ object.firstname }}</td>
        <td>{{ object.lastname }}</td>
        <td>{{ object.surname }}</td>
        <td>{{ object.email }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}