{% extends 'main/base.html' %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <h2 class="h2 text-left p-0">
        Клиенты сервиса
        <a href="{% url 'clients:client_add' %}" class="btn btn-sm btn-outline-info">Добавить</a>
    </h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Почта</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <th scope="row">
                <a href="{% url 'clients:client_detail' object.pk %}" class="btn btn-sm btn-outline-info">
                    {{ forloop.counter }}
                </a>
            </th>
            <td>{{ object.first_name }}</td>
            <td>{{ object.last_name }}</td>
            <td>@{{ object.email }}</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}