<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-mail маркетинг - это просто</title>
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container py-3">
    <header>
        {% include 'main/includes/inc_menu.html' %}
    </header>
    {% block content %}
    {% endblock %}

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
                <small class="d-block mb-3 text-body-secondary">&copy; {% now 'd-m-Y' %}</small>
            </div>
        </div>
    </footer>
</div>
<script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
