<nav class="navbar navbar-expand-xl navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main:home' %}">
            Mailing<span>service</span>
        </a>
        <div class="collapse navbar-collapse show" id="navbarBasic">
            <ul class="navbar-nav ms-auto gap-3">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'clients:client_list' %}">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailings:mailing_list' %}">Рассылки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'messages:message_list' %}">Сообщения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-default" href="#">Войти | Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>